.page {
    display: flex;
    flex-direction: row;
    height: 100vh;

    nav {
        display: block;
        width: 100%;
        max-width: 300px;

        background-color: #FCFCFC;

        .menu-item {
            display: block;
            padding: 1rem;
            text-align: center;
            border: 1px solid #999;
            background-color: #EDEDED;
            font-size: 1rem;
            font-weight: bold;
            color: #333;
            margin: 1px 0;
            cursor: pointer;
            text-decoration: none;

            &.active {
                background-color: #999999;
                color: #ffffff;
            }
        }
    }

    .container {
        display: block;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        background-color: #ccefcc;
    }
}