.page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    nav {
        display: block;
        width: 100%;
        max-width: 300px;

        background-color: #FCFCFC;

        .menu-item {
            display: block;
            padding: 1rem;
            text-align: center;
            border: 1px solid #999;
            background-color: #EDEDED;
            font-size: 1rem;
            font-weight: bold;
            color: #333;
            margin: 1px 0;
            cursor: pointer;
            text-decoration: none;

            &.active {
                background-color: #999999;
                color: #ffffff;
            }
        }
    }

    .container {
        display: block;
        position: relative;
        width: 100%;
        background-color: #ccefcc;
        padding-top: 2rem;

        .module {
            display: block;
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
        }
    }

    .button-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 2rem;
        height: 4rem;
        border: 1px solid #ccc;
        color: #FFFFFF;
        background-color: #666;
        text-decoration: none;
        font-size: 2rem;
        text-align: center;
        line-height: 4rem;
    }

    @include bp-l {
        nav {
            display: none;
            max-width: 100%;
        }

        .container {
            display: block;
        }

        .button-menu {
            display: inline-block;
        }

        &.menu-open {
            nav {
                display: block;
            }
            .container {
                display: none;
            }
        }
    }
}