html, body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #ccefcc;
    font-family: 'Arial';
}

@import 'components/layout.scss';
@import 'components/utils.scss';
