<section class="page">
    <nav>
        <a href="/approx" class="menu-item" data-modux-link=""><span class="item">APPROX</span></a>
        <a href="/cookie" class="menu-item" data-modux-link=""><span class="item">COOKIE</span></a>
        <a href="/datetime" class="menu-item" data-modux-link=""><span class="item">DATETIME</span></a>
        <a href="/extend" class="menu-item" data-modux-link=""><span class="item">EXTEND</span></a>
        <a href="/font" class="menu-item" data-modux-link=""><span class="item">FONT</span></a>
        <a href="/getter" class="menu-item" data-modux-link=""><span class="item">GETTER</span></a>
        <a href="/html" class="menu-item" data-modux-link=""><span class="item">HTML</span></a>
        <a href="/isnumber" class="menu-item" data-modux-link=""><span class="item">ISNUMBER</span></a>
        <a href="/isobject" class="menu-item" data-modux-link=""><span class="item">ISOBJECT</span></a>
        <a href="/loader" class="menu-item" data-modux-link=""><span class="item">LOADER</span></a>
        <a href="/logger" class="menu-item" data-modux-link=""><span class="item">LOGGER</span></a>
        <a href="/loop" class="menu-item" data-modux-link=""><span class="item">LOOP</span></a>
        <a href="/radians" class="menu-item" data-modux-link=""><span class="item">RADIANS</span></a>
        <a href="/rnd" class="menu-item" data-modux-link=""><span class="item">RND</span></a>
        <a href="/scroll" class="menu-item" data-modux-link=""><span class="item">SCROLL</span></a>
        <a href="/setter" class="menu-item" data-modux-link=""><span class="item">SETTER</span></a>
        <a href="/sounds" class="menu-item" data-modux-link=""><span class="item">SOUNDS</span></a>
        <a href="/uid" class="menu-item" data-modux-link=""><span class="item">UID</span></a>
    </nav>
    <div class="container">
        <a href="#menu" data-modux-link="" class="button-menu">&gt;</a>
        <div class="module"></div>
    </div>
</section>