<section class="page">
    <nav>
        <a href="/approx" class="menu-item" data-modux-link=""><span class="item">APPROX</span></a>
        <a href="/cookie" class="menu-item" data-modux-link=""><span class="item">COOKIE</span></a>
    </nav>
    <div class="container">
        <div data-modux-component="utils-approx"></div>
        <div data-modux-component="utils-font"></div>
        <div data-modux-component="utils-loader"></div>
        <div data-modux-component="utils-radians"></div>
        <div data-modux-component="utils-sounds"></div>
        <div data-modux-component="utils-datetime"></div>
    </div>
</section>