<section class="page">
    <nav>
        <a href="/approx" class="menu-item" data-modux-link=""><span class="item">APPROX</span></a>
        <a href="/cookie" class="menu-item" data-modux-link=""><span class="item">COOKIE</span></a>
        <a href="/datetime" class="menu-item" data-modux-link=""><span class="item">DATETIME</span></a>
        <a href="/extend" class="menu-item" data-modux-link=""><span class="item">EXTEND</span></a>
        <a href="/font" class="menu-item" data-modux-link=""><span class="item">FONT</span></a>
        <a href="/getter" class="menu-item" data-modux-link=""><span class="item">GETTER</span></a>
        <a href="/html" class="menu-item" data-modux-link=""><span class="item">HTML</span></a>
        <a href="/isnumber" class="menu-item" data-modux-link=""><span class="item">ISNUMBER</span></a>
        <a href="/isobject" class="menu-item" data-modux-link=""><span class="item">ISOBJECT</span></a>
        <a href="/loader" class="menu-item" data-modux-link=""><span class="item">LOADER</span></a>
    </nav>
    <div class="container">
    </div>
</section>