<div>
    <div class="field">
        <input class="input-test-h" type="text" placeholder="Horizontal scroll value" />
        <input class="input-test-v" type="text" placeholder="Vertical scroll value" />
        <input class="input-test-cycle" type="text" placeholder="Duration in cycles" />
    </div>        
    <div class="field">
        <input type="button" class="button-test1" value="Run"/>
    </div>
    <div class="field">
        <div class="input-test-dummy">

        </div>
    </div>
    <div class="field">
        <input type="button" class="button-test2" value="Scroll to top"/>
    </div>    
</div>