// General
@mixin desaturate() {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
@mixin invert() {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}
@mixin shadow($props) {
    -webkit-box-shadow: $props;
    -moz-box-shadow   : $props;
    -o-box-shadow     : $props;
    box-shadow        : $props;
}
@mixin no-select() {
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    -o-user-select     : none;
    user-select        : none;
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

// EXAMPLE
// .button{
//     @include linearGradient(#cccccc, #666666);
// }

// Breakpoints
@mixin bp-xl {
     @media only screen and (min-width: 961px){
        @content;
    }
}
@mixin bp-l {
     @media only screen and (max-width: 960px){
        @content;
    }
}
@mixin bp-m {
     @media only screen and (max-width: 640px){
        @content;
    }
}
@mixin bp-s {
     @media only screen and (max-width: 320px){
        @content;
    }
}

// EXAMPLE
// @include bp-m {
//     width: 10%;
// }

// Animations
@mixin keyframes($animation-name) {
     @-webkit-keyframes #{$animation-name}{
        @content;
    }
    @-moz-keyframes #{$animation-name} {
         @content;
    }
    @-ms-keyframes #{$animation-name} {
         @content;
    }
    @-o-keyframes #{$animation-name} {
         @content;
    }
    @keyframes #{$animation-name} {
         @content;
    }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation   : #{$str};
    -ms-animation    : #{$str};
    -o-animation     : #{$str};
    animation        : #{$str};
}

// Examples
// @include keyframes(slide-down) {
//   0% { opacity: 1; }
//   90% { opacity: 0; }
// }
//
// .element {
//   width: 100px;
//   height: 100px;
//   background: black;
//   @include animation('slide-down 5s 3');
// }

// Transitions
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition   : $args;
    -ms-transition    : $args;
    -o-transition     : $args;
    transition        : $args;
}

// Examples
// a {
//   color: gray;
//   @include transition(color .3s ease);
//   &:hover {
//     color: black;
//   }
// }

// Transform
@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform   : $args;
    -ms-transform    : $args;
    -o-transform     : $args;
    transform        : $args;
}

// Examples
// a {
//   color: gray;
//   @include transform(rotate3d(0,1,0,180deg));
//   &:hover {
//     color: black;
//   }
// }

// backface-visibility
@mixin backface-visibility($args...) {
    -webkit-backface-visibility: $args;
    -moz-backface-visibility   : $args;
    -ms-backface-visibility    : $args;
    -o-backface-visibility     : $args;
    backface-visibility        : $args;
}

// Examples
// a {
//   color: gray;
//   @include backface-visibility(hidden);
//   &:hover {
//     color: black;
//   }
// }

// Perspective
@mixin perspective($args...) {
    -webkit-perspective: $args;
    -moz-perspective   : $args;
    -ms-perspective    : $args;
    -o-perspective     : $args;
    perspective        : $args;
}

// Examples
// a {
//   color: gray;
//   @include perspective(500px);
//   &:hover {
//     color: black;
//   }
// }
